section {
    float:left;
    width: 33.33%;
    height: 100vh;
    text-align: center;
}

.twitterButton {
    height: 50px;
    width: 215px;
    border-radius: 15px;
    background-color: #2386c3;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-color: white;
    border: white;
}

.twitterButton:active {
    background-color: #0d649b;
}

.instagramButton {
    height: 50px;
    width: 215px;
    border-radius: 15px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-color: white;
    box-shadow: none;
    border: white;
}

.instagramButton:active {
    background: radial-gradient(circle at 30% 107%, #f7ea5a 0%, #f3e54e 5%, #f02613 45%, #d10992 60%, #0641f3 90%);
}

#Twitter {
    background: #1DA1F2;
}

#Facebook {
    background: #3b5998;

}

#Instagram {
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

body {
    max-width: 1920px;
    margin: 0;
}

.bird {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    display: flex;
}

.fb {
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    display: flex;
}

.insta {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    display: flex;
}

#fbuser {
    margin-top: 80px;;
}

#instauser {
    margin-top: 90px;
}

.fb-login-button {
    margin-top: 80px;
}

#twitterlogin img{
    vertical-align: middle;
}

#instalogin {
    margin-top: 80px;
}
#instalogin img{
    vertical-align: middle;
    margin-right: 5px;
    padding: 2px;
}
