{% extends 'main/structure.html' %}

{% block navStyle %}
<style>
nav {
    width: 100%;
    background: linear-gradient(to bottom,#0e84eb, #4092db);
    height: 35px;
    margin-bottom: 25px;
    
}
ul {
    display: block;
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    transition: 0.5s;
}

nav a:hover {
    color: rgb(11, 44, 71);
}

.title {
    font-family:Arial, Helvetica, sans-serif;
}

.focusedNav {
    color: rgb(11, 44, 71);
}

</style>
{% endblock %}
