{% extends 'main/base.html' %}

{% block headInfo %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=628039024905744&autoLogAppEvents=1" nonce="DlfYI79R"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <link rel="stylesheet" href="style.css">
{% endblock %}
{% block content %}
    <section id = "Twitter">
        <img class = "bird" src="twitterbird.png" alt="Twitter" width="350">
        <div id = "twitteruser">
            <label for="twitterusername">Username: </label>
            <input type="text" id="twitterusername" name="twitterusername">
            </div>
            <div id = twitterpass>
            <label for="twitterpassword">Password: </label>
            <input type="password" id="twitterpassword" name="twitterpassword">
            </div>
    </section>
    <section id = "Facebook">
        <img class = "fb" src="facebook_logo.png" alt="Facebook" width="250">
        <!--
        <div id = "fbuser">
            <label for="fbusername">Username: </label>
            <input type="text" id="fbusername" name="fbusername">
            </div>
            <div id = fbpass>
            <label for="fbpassword">Password: </label>
            <input type="password" id="fbpassword" name="fbpassword">
            <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
            <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
            </a>
            </div>
            -->
            <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></div>
            <script>
            if(window.localStorage.getItem('fblst_628039024905744')){
            console.log('token found')
            console.log(window.localStorage.getItem('fblst_628039024905744'))
            } else {
                console.log('No token found')
            }
            </script>
    </section>
    <section id = "Instagram">
        <img class = "insta" src="instalogo.png" alt="Instagram" width="200" >
        <!--<div id = "instauser">
            <label for="instausername">Username: </label>
            <input type="text" id="instausername" name="instausername">
            </div>
            <div id = instapass>
            <label for="instapassword">Password: </label>
            <input type="password" id="instapassword" name="instapassword">
            </div>-->
        
    </section>
{% endblock %}
