{% extends 'main/base.html' %}

{% block headInfo %}
    <script async defer src="/static/fbAuth.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .loggedIn {
            opacity: 50%;
        }
    </style>
{% endblock %}

{% block navBar %}
<nav>
    <ul>
        <li class = "title"><a class="focusedNav" href="/platformsLogin/">Hub Auth</a></li>
        <li class = "title"><a href="/">Dashboard</a></li>
        <li class = "title"><a href="/logout/">Logout</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <section id="Twitter">
        <img src="/static/twitterbird.png" height="250" width="250">
        <button class="twitterButton" type="button" id="twitterlogin">
            <img src="/static/tbird.png" height="40" width="40">
            <div>Log in with Twitter</div>
        </button>
        <script>
            document.querySelector("#twitterlogin").addEventListener("click", () => {
                let redirectURL = window.location.href;
                window.location.replace(redirectURL.replace("platformsLogin", "getTwitterToken"));
            });
        </script>
    </section>
    <section id = "Facebook">
        <img src="/static/facebook_logo.png" height="250" width="250">
        <button class="fb-login-button">
            <img src="/static/fbBtnLogo.PNG" height="30" width="30">
            <div>Log in with Facebook</div>
        </button>
    </section>
    <section id = "Instagram">
        <img src="/static/instalogo.png" height="250" width="250">
        <button class="instagramButton">
            <img src="/static/instalogo.png" height="30" width="30">
            <div>Log in with Instagram</div>
        </button>
    </section>
{% endblock %}
