{% extends 'main/base.html' %}

{% block headInfo %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=628039024905744&autoLogAppEvents=1" nonce="Yr9Tg93O"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script async src="/static/fbAuth.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .loggedIn {
            opacity: 50%;
        }
    </style>
{% endblock %}
{% block content %}
    <section id="Twitter">
        <img src="/static/twitterbird.PNG" alt="Twitter" height="250" width="250">
        <button class="twitterButton" type="button" id="twitterlogin">
            <img src="/static/tbird.png" height="40" width="40">
            <div>Log in with Twitter</div>
        </button>
        <script>
            document.querySelector("#twitterlogin").addEventListener("click", () => {
                console.log("Here");
                let redirectURL = window.location.href;
                window.location.replace(redirectURL.replace("platformsLogin", "getTwitterToken"));
            });
        </script>
    </section>
    <section id = "Facebook">
        <img src="/static/facebook_logo.PNG" alt="Facebook" height="250" width="250">
        <div class="fb-login-button" data-width="250" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false"></div>
    </section>
    <section id = "Instagram">
        <img src="/static/instalogo.png" alt="Instagram" height="250" width="250">
        <button onclick="document.getElementById('id01').style.display='block'" class="instagramButton">
            <img src="/static/instalogo.png" height="30" width="30">
            <div>Log in with Instagram</div>
        </button>
        <div id="id01" class="modal">
          <form class="modal-content animate">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <div class="container">
              <label><b>Username</b></label>
              <input id = "username" type="text" placeholder="Enter Username" name="uname" required>
              <label><b>Password</b></label>
              <input id = "password" type="password" placeholder="Enter Password" name="psw" required>
              <button id = "loginButton">Login</button>
            </div>
          </form>
        </div>
    </section>
{% endblock %}
