{% extends 'main/base.html' %}

{% block headInfo %}
    <!--<div id="fb-root"></div>-->
    <!--<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=628039024905744&autoLogAppEvents=1" nonce="DlfYI79R"></script>-->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script async defer src="/static/fbAuth.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .loggedIn {
            opacity: 50%;
        }
    </style>
{% endblock %}
{% block content %}
    <section id = "Twitter">
        <img class = "bird" src="/static/twitterbird.png" alt="Twitter" width="350">
        <!--
        <div id = "twitteruser">
            <label for="twitterusername">Username: </label>
            <input type="text" id="twitterusername" name="twitterusername">
            </div>
            <div id = twitterpass>
            <label for="twitterpassword">Password: </label>
            <input type="password" id="twitterpassword" name="twitterpassword">
        </div>
        -->
        <button type="button" id="twitterlogin"><img src="/static/twitterbird.png" height = "40" width = "40"><span>Log in with Twitter</span></button>
        <script>
            document.querySelector("#twitterlogin").addEventListener("click", () => {
                console.log("Here");
                let redirectURL = window.location.href;
                window.location.replace(redirectURL.replace("platformsLogin", "getTwitterToken"));
            });
        </script>
    </section>
    <section id = "Facebook">
        <img class = "fb" src="/static/facebook_logo.png" alt="Facebook" width="250">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>
        <script>
  var access_token;
  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);              
    access_token = response['accessToken']
    console.log(access_token)    // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();  
    } else {                                 // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.';
    }
    access_token = response['accessToken']
    console.log(access_token)
    var body = 'Test Post';
  }


  function checkLoginState() {               // Called when a person is finished with the Login Button.
    var page_id;
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
      //console.log(response);
    });
    FB.api(
    '/me?fields=accounts',
    function (response) {
      if (response && !response.error) {
        /* handle the result */
        //page_id = response;
        page_id = response['id'];
        console.log(page_id);
      }
    }
    );
    var body = 'Reading JS SDK documentation';
  FB.api('/me/feed', 'post', { message: body }, function(response) {
  if (!response || response.error) {
    alert('Error occured');
    console.log(response);
    console.log(response.error['message']);
  } else {
    alert('Post ID: ' + response.id);
  }
});
  }


  window.fbAsyncInit = function() {
    FB.init({
      appId      : '628039024905744',//'1254616915021846',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v12.0'           // Use this Graph API version for this call.
    });


    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };
 
  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

</script>
            <!--
            <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></div>
            -->
    </section>
    <section id = "Instagram">
        <img class = "insta" src="/static/instalogo.png" alt="Instagram" width="200" >
        <button type = "button" id = "instalogin"><img src="/static/instalogo.png" height = "20" width = "20"><span>Log in with Instagram</span></button>
        <!--<div id = "instauser">
            <label for="instausername">Username: </label>
            <input type="text" id="instausername" name="instausername">
         </div>
         <div id = instapass>
            <label for="instapassword">Password: </label>
            <input type="password" id="instapassword" name="instapassword">
         </div>-->
        
    </section>
{% endblock %}
